{% block content %}
<!DOCTYPE html>
<html>
<body>
    <div style="text-align:center">
        <h1>Grid World Examples</h1 >
    <h2>Display a Number Field</h2>
</div>
    <form action="add">
        <div>
            <label for="quantity">Number of rows (1-15):</label>
            <input type="number" id="grid_row" name="grid_row" min="1" max="15" value="3">
        </div>
        <div>
            <label for="quantity">Number of columns (1-15):</label>
            <input type="number" id="grid_col" name="grid_col" min="1" max="15" value="4">
        </div>

        <div>
            <label for="string">Obstacles:</label>
            <input type="string" id="walls" name="walls" value="(1,1)">
        </div>

        <div>
            <input type="submit">
        </div>
    </form>
</body>
</html>

{% endblock %}